.background {
	background-image: url("images/work-space-1024.jpg");
	min-height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center; 
	padding: 0px 
}

i {
	color: white;
	padding: 10px;
}

li {
	padding: 10px 10px 10px 10px;
}

.text-box {
	color: white;
	background-color: rgba(0,0,0,.5);
	border-radius: 15px;
	margin-top: -505px;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 83px;
	margin: 0;
	padding: 70px 0px 0px 0px;
	height: 150px;
	color: #FF9999;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	margin: 0;
	padding: 10px 0px 70px 0px;
}

.accordion-header {
	background-color: #424242;
	cursor: pointer;

}

.accordion-header:hover {
	background-color: #222;
}

.accordion-header h3 {
	padding: 5px;
	color: white;
}

.accordion-content {
	background-color: #eee;
	display: none; 
	margin: 0;
	padding: 0;
}

.awards {
	background-color: #FF9999;
	color: white;
	padding: 75px 100px 30px 100px
}

.awards h3 {
	font-size: 78px;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 30px;
	margin-top: -50px;
}

.awards h4 {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 40px;
}

.awards p {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding: 10px 0 20px 0;
} 

.awards i {
	color: gray;
	font-size: 150px;
}

.resume-button {
	background-color: #FF9999;;
	color: white;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	padding: 10px;
	margin-bottom: 30px;
	text-decoration: none;
	width: 130px;
}

.resume-button a {
	color: white;
}

.resume-button:hover {
	color: gray;
}

.resume {
	background-color: white;
	padding: 15px;
	font-family: 'Open Sans', sans-serif;
} 

.resume h3 {
	font-size: 78px;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 0px;
	color: #FF9999;
}

h6 {
	margin: 0 0 10px 0;
	color: ;
	font-size: 20px;
	color: #FF9999;
	font-family: 'Montserrat', sans-serif;
}

.contact {
	background-color: white;
	color: #FF9999;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	padding-top: 15px;
}

.contact i {
	color: #FF9999;
}

img {
	width: 100%;
	height: 200px;
}


/* 
 * Media Queries
*/ 

 @media (max-width: 600px) {
 	.background ul {
 		display: none;
 	}

 	h1 {
 		font-size: 50px;
 		margin-bottom: 40px;
 	}

 	.text-box {
 		border-radius: 0px;
 	}

 	.resume h3 {
 		font-size: 50px;
 	}

 	.resume-button {
 		width: 100px;
 		margin: 0 auto;
 		font-size: 12px;
 	}

 	.awards {
 		margin-top: 15px;
 		padding: 20px;
 	}

 	.awards h3 {
 		margin: 0 0 20px 0;
 		padding: 0;
 		font-size: 50px
 	}

 	.awards i {
 		display: none;
 	}

 	.awards h4 {
 		padding: 0px;
 		margin: 0px; 
 		font-size: 30px;
 	}

 	.awards p {
 		padding: 0px;
 		margin: 0 0 10px 0; 
 		font-size: 13px;
 	}

 	.contact {
 		font-size: 20px;
 		padding: 10px;
 		margin: 0;
 	}
 }

 @media (min-width: 601px) and (max-width: 990px) {
 	.background ul {
 		display: none;
 	}

 	.text-box {
 		border-radius: 0;
 		margin: -500px 0 0 0;
 	}

 	h1 {
 		font-size: 60px;
		height: 100px;
		margin-top: 40px;
		padding: 40px 0 20px 0;
 	}

	h3 {
		padding-bottom: 40px;
	}

	.awards {
 		margin-top: 15px;
 		padding: 20px;
 	}

 	.awards h3 {
 		margin: 0 0 20px 0;
 		padding: 0;
 	}

 	.awards i {
 		font-size: 100px;
 		display: inline;
 	}

 	.awards h4 {
 		padding: 0px;
 		margin: 0px; 
 	}

 	.awards p {
 		padding: 20px;
 		margin: 0 0 10px 0; 
 	}
 }

 @media (min-width: 991px) and (max-width: 1145px) {
 	h1 {
 		padding-top: 40px;
 		font-size: 70px;
 		height: 110px
 	}

 	h3 {
 		padding-bottom: 40px;
 	}
 }



