.background {
	background-image: url("images/work-space-1024.jpg");
	min-height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center; 
	padding: 0px 
}

.row {
	padding: 0;
}

i {
	color: white;
	padding: 10px;
}

li {
	padding: 10px 10px 10px 10px;
}

.text-box {
	color: white;
	background-color: rgba(0,0,0,.5);
	border-radius: 15px;
	margin-top: -505px;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 83px;
	margin: 0;
	padding: 70px 0px 0px 0px;
	height: 150px;
	color: #FF9999;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	margin: 0;
	padding: 10px 0px 70px 0px;
}

.awards {
	background-color: #FF9999;
	color: white;
	padding: 75px 100px 100px 100px
}

.awards h3 {
	font-size: 78px;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 30px;
	margin-top: -50px;
}

.awards h4 {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 40px;
}

.awards p {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding: 10px 0 20px 0;
} 

.awards i {
	color: gray;
	font-size: 150px;
}

.resume {
	margin-top: -75px;
	background-color: white;
	padding: 40px;
	font-family: 'Open Sans', sans-serif;
} 

.resume h3 {
	font-size: 78px;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 30px;
	color: #FF9999;
}

h6 {
	margin: 0 0 10px 0;
	color: ;
	font-size: 20px;
	color: #FF9999;
	font-family: 'Montserrat', sans-serif;
}

.projects {
	color: #FF9999;
	background-color: gray;
	padding: 0;
}

.projects h4 {
	font-size: 78px;
	font-family: 'Montserrat', sans-serif;
	padding: 50px 0px 30px 0px;
}

.project-one {
	padding: 0 0 10px 0;
}

.project-two {
	padding: 10px 0 0 0;
}

.project-one:hover {
	background-color: rgba(0,0,0,.5);
}

.projects p {
	color: #FF9999;
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	padding: 0;
	margin: -90px 0px 0px 0px;
}

.contact {
	background-color: #FF9999;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	padding-top: 15px;
}

img {
	width: 100%;
	height: 200px;
}

/*
.text-vertical {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    width:180px;
  	height:100px;
  	-ms-transform:rotate(270deg); 
  	-moz-transform:rotate(270deg); 
  	-webkit-transform:rotate(270deg); 
  	-o-transform:rotate(270deg); 
}





